.navbar {
    overflow: hidden;
    background-color: #563d7c;
    position: relative;
    top: 0;
    width: 100%;
    box-shadow:0 2px 3px #ccc;
    padding: 10px 12px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.75;
    text-transform: uppercase;
    padding:5px;
  }
  .navbar a:hover{
    opacity:0.6
  }
  